# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/*

# ignore ALL files in ANY directory named dist
dist/*

# ignore ALL files in ANY directory named node_modules
node_modules/*